/*
 * Apache Fineract API Documentation
 * Apache Fineract is a secure, multi-tenanted microfinance platform. <br />              The goal of the Apache Fineract API is to empower developers to build apps on top of the Apache Fineract Platform. The reference app [  https://demo.openmf.org  ] (username: mifos, password: password) works on the same demo tenant as the interactive links in this documentation.              <br/>The API                 is organized around REST [ https://en.wikipedia.org/wiki/Representational_state_transfer ]               <br/> Find out more about Apache Fineract on [ https://demo.openmf.org/api-docs/apiLive.htm#top ]              <br/> You can Try The API From Your Browser itself at [ https://demo.openmf.org/api-docs/apiLive.htm#interact ]              <br/> The Generic Options are available at [ https://demo.openmf.org/api-docs/apiLive.htm#genopts ]              <br/> Find out more about Updating Dates and Numbers at [ https://demo.openmf.org/api-docs/apiLive.htm#dates_and_numbers ]              <br/> For the Authentication and the Basic of HTTP and HTTPS refer [ https://demo.openmf.org/api-docs/apiLive.htm#authentication_overview ]              <br/> Check about ERROR codes at [ https://demo.openmf.org/api-docs/apiLive.htm#errors ]               <br/> <br/> Please refer to the old documentation for any documentation queries [ https://demo.openmf.org/api-docs/apiLive.htm ]              <br/>             ______________________________________________________________________________________________________________________________          
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.DeleteCodeValueDataResponse;
import io.swagger.client.model.GetCodeValuesDataResponse;
import io.swagger.client.model.PostCodeValueDataResponse;
import io.swagger.client.model.PostCodeValuesDataRequest;
import io.swagger.client.model.PutCodeValueDataResponse;
import io.swagger.client.model.PutCodeValuesDataRequest;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CodeValuesApi {
    private ApiClient apiClient;

    public CodeValuesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CodeValuesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createCodeValue
     * @param codeId codeId (required)
     * @param body body (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createCodeValueCall(Long codeId, PostCodeValuesDataRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/codes/{codeId}/codevalues"
            .replaceAll("\\{" + "codeId" + "\\}", apiClient.escapeString(codeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createCodeValueValidateBeforeCall(Long codeId, PostCodeValuesDataRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'codeId' is set
        if (codeId == null) {
            throw new ApiException("Missing the required parameter 'codeId' when calling createCodeValue(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createCodeValue(Async)");
        }
        

        com.squareup.okhttp.Call call = createCodeValueCall(codeId, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a Code Value
     * 
     * @param codeId codeId (required)
     * @param body body (required)
     * @return PostCodeValueDataResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PostCodeValueDataResponse createCodeValue(Long codeId, PostCodeValuesDataRequest body) throws ApiException {
        ApiResponse<PostCodeValueDataResponse> resp = createCodeValueWithHttpInfo(codeId, body);
        return resp.getData();
    }

    /**
     * Create a Code Value
     * 
     * @param codeId codeId (required)
     * @param body body (required)
     * @return ApiResponse&lt;PostCodeValueDataResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PostCodeValueDataResponse> createCodeValueWithHttpInfo(Long codeId, PostCodeValuesDataRequest body) throws ApiException {
        com.squareup.okhttp.Call call = createCodeValueValidateBeforeCall(codeId, body, null, null);
        Type localVarReturnType = new TypeToken<PostCodeValueDataResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a Code Value (asynchronously)
     * 
     * @param codeId codeId (required)
     * @param body body (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createCodeValueAsync(Long codeId, PostCodeValuesDataRequest body, final ApiCallback<PostCodeValueDataResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createCodeValueValidateBeforeCall(codeId, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PostCodeValueDataResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteCodeValue
     * @param codeId codeId (required)
     * @param codeValueId codeValueId (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteCodeValueCall(Long codeId, Long codeValueId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/codes/{codeId}/codevalues/{codeValueId}"
            .replaceAll("\\{" + "codeId" + "\\}", apiClient.escapeString(codeId.toString()))
            .replaceAll("\\{" + "codeValueId" + "\\}", apiClient.escapeString(codeValueId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteCodeValueValidateBeforeCall(Long codeId, Long codeValueId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'codeId' is set
        if (codeId == null) {
            throw new ApiException("Missing the required parameter 'codeId' when calling deleteCodeValue(Async)");
        }
        
        // verify the required parameter 'codeValueId' is set
        if (codeValueId == null) {
            throw new ApiException("Missing the required parameter 'codeValueId' when calling deleteCodeValue(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteCodeValueCall(codeId, codeValueId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete a Code Value
     * Deletes a code value
     * @param codeId codeId (required)
     * @param codeValueId codeValueId (required)
     * @return DeleteCodeValueDataResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DeleteCodeValueDataResponse deleteCodeValue(Long codeId, Long codeValueId) throws ApiException {
        ApiResponse<DeleteCodeValueDataResponse> resp = deleteCodeValueWithHttpInfo(codeId, codeValueId);
        return resp.getData();
    }

    /**
     * Delete a Code Value
     * Deletes a code value
     * @param codeId codeId (required)
     * @param codeValueId codeValueId (required)
     * @return ApiResponse&lt;DeleteCodeValueDataResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DeleteCodeValueDataResponse> deleteCodeValueWithHttpInfo(Long codeId, Long codeValueId) throws ApiException {
        com.squareup.okhttp.Call call = deleteCodeValueValidateBeforeCall(codeId, codeValueId, null, null);
        Type localVarReturnType = new TypeToken<DeleteCodeValueDataResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete a Code Value (asynchronously)
     * Deletes a code value
     * @param codeId codeId (required)
     * @param codeValueId codeValueId (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteCodeValueAsync(Long codeId, Long codeValueId, final ApiCallback<DeleteCodeValueDataResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteCodeValueValidateBeforeCall(codeId, codeValueId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DeleteCodeValueDataResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for retrieveAllCodeValues
     * @param codeId codeId (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call retrieveAllCodeValuesCall(Long codeId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/codes/{codeId}/codevalues"
            .replaceAll("\\{" + "codeId" + "\\}", apiClient.escapeString(codeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call retrieveAllCodeValuesValidateBeforeCall(Long codeId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'codeId' is set
        if (codeId == null) {
            throw new ApiException("Missing the required parameter 'codeId' when calling retrieveAllCodeValues(Async)");
        }
        

        com.squareup.okhttp.Call call = retrieveAllCodeValuesCall(codeId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * List Code Values
     * Returns the list of Code Values for a given Code  Example Requests:  codes/1/codevalues
     * @param codeId codeId (required)
     * @return List&lt;GetCodeValuesDataResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<GetCodeValuesDataResponse> retrieveAllCodeValues(Long codeId) throws ApiException {
        ApiResponse<List<GetCodeValuesDataResponse>> resp = retrieveAllCodeValuesWithHttpInfo(codeId);
        return resp.getData();
    }

    /**
     * List Code Values
     * Returns the list of Code Values for a given Code  Example Requests:  codes/1/codevalues
     * @param codeId codeId (required)
     * @return ApiResponse&lt;List&lt;GetCodeValuesDataResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<GetCodeValuesDataResponse>> retrieveAllCodeValuesWithHttpInfo(Long codeId) throws ApiException {
        com.squareup.okhttp.Call call = retrieveAllCodeValuesValidateBeforeCall(codeId, null, null);
        Type localVarReturnType = new TypeToken<List<GetCodeValuesDataResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * List Code Values (asynchronously)
     * Returns the list of Code Values for a given Code  Example Requests:  codes/1/codevalues
     * @param codeId codeId (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call retrieveAllCodeValuesAsync(Long codeId, final ApiCallback<List<GetCodeValuesDataResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = retrieveAllCodeValuesValidateBeforeCall(codeId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<GetCodeValuesDataResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for retrieveCodeValue
     * @param codeValueId codeValueId (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call retrieveCodeValueCall(Long codeValueId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/codes/{codeId}/codevalues/{codeValueId}"
            .replaceAll("\\{" + "codeValueId" + "\\}", apiClient.escapeString(codeValueId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call retrieveCodeValueValidateBeforeCall(Long codeValueId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'codeValueId' is set
        if (codeValueId == null) {
            throw new ApiException("Missing the required parameter 'codeValueId' when calling retrieveCodeValue(Async)");
        }
        

        com.squareup.okhttp.Call call = retrieveCodeValueCall(codeValueId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieve a Code Value
     * Returns the details of a Code Value  Example Requests:  codes/1/codevalues/1
     * @param codeValueId codeValueId (required)
     * @return GetCodeValuesDataResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GetCodeValuesDataResponse retrieveCodeValue(Long codeValueId) throws ApiException {
        ApiResponse<GetCodeValuesDataResponse> resp = retrieveCodeValueWithHttpInfo(codeValueId);
        return resp.getData();
    }

    /**
     * Retrieve a Code Value
     * Returns the details of a Code Value  Example Requests:  codes/1/codevalues/1
     * @param codeValueId codeValueId (required)
     * @return ApiResponse&lt;GetCodeValuesDataResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GetCodeValuesDataResponse> retrieveCodeValueWithHttpInfo(Long codeValueId) throws ApiException {
        com.squareup.okhttp.Call call = retrieveCodeValueValidateBeforeCall(codeValueId, null, null);
        Type localVarReturnType = new TypeToken<GetCodeValuesDataResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve a Code Value (asynchronously)
     * Returns the details of a Code Value  Example Requests:  codes/1/codevalues/1
     * @param codeValueId codeValueId (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call retrieveCodeValueAsync(Long codeValueId, final ApiCallback<GetCodeValuesDataResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = retrieveCodeValueValidateBeforeCall(codeValueId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GetCodeValuesDataResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateCodeValue
     * @param codeId codeId (required)
     * @param codeValueId codeValueId (required)
     * @param body body (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateCodeValueCall(Long codeId, Long codeValueId, PutCodeValuesDataRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/codes/{codeId}/codevalues/{codeValueId}"
            .replaceAll("\\{" + "codeId" + "\\}", apiClient.escapeString(codeId.toString()))
            .replaceAll("\\{" + "codeValueId" + "\\}", apiClient.escapeString(codeValueId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateCodeValueValidateBeforeCall(Long codeId, Long codeValueId, PutCodeValuesDataRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'codeId' is set
        if (codeId == null) {
            throw new ApiException("Missing the required parameter 'codeId' when calling updateCodeValue(Async)");
        }
        
        // verify the required parameter 'codeValueId' is set
        if (codeValueId == null) {
            throw new ApiException("Missing the required parameter 'codeValueId' when calling updateCodeValue(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling updateCodeValue(Async)");
        }
        

        com.squareup.okhttp.Call call = updateCodeValueCall(codeId, codeValueId, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update a Code Value
     * Updates the details of a code value.
     * @param codeId codeId (required)
     * @param codeValueId codeValueId (required)
     * @param body body (required)
     * @return PutCodeValueDataResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PutCodeValueDataResponse updateCodeValue(Long codeId, Long codeValueId, PutCodeValuesDataRequest body) throws ApiException {
        ApiResponse<PutCodeValueDataResponse> resp = updateCodeValueWithHttpInfo(codeId, codeValueId, body);
        return resp.getData();
    }

    /**
     * Update a Code Value
     * Updates the details of a code value.
     * @param codeId codeId (required)
     * @param codeValueId codeValueId (required)
     * @param body body (required)
     * @return ApiResponse&lt;PutCodeValueDataResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PutCodeValueDataResponse> updateCodeValueWithHttpInfo(Long codeId, Long codeValueId, PutCodeValuesDataRequest body) throws ApiException {
        com.squareup.okhttp.Call call = updateCodeValueValidateBeforeCall(codeId, codeValueId, body, null, null);
        Type localVarReturnType = new TypeToken<PutCodeValueDataResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update a Code Value (asynchronously)
     * Updates the details of a code value.
     * @param codeId codeId (required)
     * @param codeValueId codeValueId (required)
     * @param body body (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateCodeValueAsync(Long codeId, Long codeValueId, PutCodeValuesDataRequest body, final ApiCallback<PutCodeValueDataResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateCodeValueValidateBeforeCall(codeId, codeValueId, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PutCodeValueDataResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
